body {
    font-family:'Courier New', Courier, monospace;
    border:  rgb(80, 49, 23) dashed;
    background: rgb(103, 211, 247);
    margin: 20px 20px 20px 20px;
    padding: 10px;
    box-shadow: 8px 8px 10px rgba(77, 0, 128, 0.623);
}

header {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav {
    padding-left: 20rem;
    font-size: 17px;
}

nav a {
    background-color: pink;
    padding: 0.5rem;
    margin: 1rem;
}

a:hover {
    color: black;
    background-color: hotpink;
}
p::first-letter {
  font-size: 200%;
  font-weight: bold;
  color: purple;
}

.magazine-layout {
    display: grid;
    background: rgb(103, 211, 247);
    gap: 20px;
    grid-template-columns: 100px minmax(auto, 1fr) auto;
    grid-template-rows: 100px 100px auto;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "figure figure figure";
}
.header {grid-area: header;} 
.navigation {grid-area: nav;}
.main-image {grid-area: figure;}
.content {grid-area: main;}
.pull-quote {grid-area: sidebar;} 

.main-image {
    grid-row: 4;
    margin: 20rem;
    width: 50%;
}

.main-image:hover {
    transform: scale(1.05) translate(-5px);
}

.content {
    margin: auto;
    width: 60%;
    border:rgba(24, 23, 80, 0.473) solid;
    background-color: rgba(146, 158, 226, 0.356);
    padding: 3rem;
    box-shadow: 8px 8px 10px rgba(40, 29, 201, 0.479);
}

.content:hover {
    transform: scale(1.05) translate(-5px);
    box-shadow: 10px 10px 10px rgba(40, 29, 201, 0.479);
}
.pull-quote {
    width: 150%;
    margin: auto;
    text-align: center;
    border:  rgb(80, 49, 23) dashed;
    background-image: url(Images/pusheenbackground.jpg);
    font-style: italic;
    font-weight: bold;
    padding: 1.5rem;
    line-height: 1.5rem;
    box-shadow: 8px 8px 10px rgba(201, 29, 158, 0.479);
}

.pull-quote:hover {
    transform: scale(1.05) translate(-5px);
    box-shadow: 10px 10px 10px rgba(201, 29, 158, 0.479);
}


@media (max-width: 788px) {
    .magazine-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "header"
            "nav"           
            "main" 
            "figure"   
            "sidebar"   
    }
    body {
        max-width: auto;
    }
    .main-image {
        max-width: auto;
        max-height: auto;
    } 
    .pull-quote {
        max-width: 50%;
        height: auto;
        padding: 0.5rem;
    }
}