body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:Green;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color:Green;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 20px;
}
a:link { 
    color: blue;
} /*unvisited link*/

a:visited {
    color: purple;
} /*already visted link*/
a:hover {
    color: lightblue;
} /*hovering over link*/

a:focus {
    color:black;
    background-color:yellow;
}