/* light mode default*/
:root {
    --bg-color: rgb(167, 236, 190);
    --primary-color: rgb(2, 36, 17);
    --border-color: #06630b;
    --header-color: rgb(148, 6, 6);
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color); 
    font-size: 20px; 
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    border-bottom-style: solid;
    border-color: var(--border-color);
    color: var(--header-color);
    font-size: 50px;
}

h2 {
    color: var(--header-color);
    font-size: 35px;
}

/* dark mode override*/
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(1, 15, 4);
        --primary-color: #9ceba3;
        --border-color:rgb(8, 94, 94);
        --header-color: rgb(173, 95, 121);
    }
}
