.dashboard {
    border: gray solid;
    background-image: url(Photos/sparkle.jpg);
    padding: 5px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 35px;
}
h3 {
    font-size: 20px;
    margin: 0.5px;
    padding: 0.5px;
}

h4 {
    font-size: 20px;
}

.content-wrapper {
    display: flex;
}
 
.main-content {
    display: flex;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    border: pink outset;
    border-radius: 0.5rem;
    background-color: rgba(210, 140, 198, 0.479);
    padding: 1px;
    margin: 3rem;
    text-align: center;
    align-content: center;
    width: 3rem;
    height: 25rem;
    flex: 1 1 300px;
    box-shadow: 7px 7px 7px rgba(152, 16, 194, 0.349);
    transition: transform 0.5s ease-in-out;
    
}  
   
.card:hover {
    transform: scale(1.05) translate(-5px);
    box-shadow: 15px 14px 20px rgba(16, 167, 194, 0.349);
     
}

.special-card {
    border: turquoise inset;
    border-radius: 0.5rem;
    background-color: rgba(0, 255, 255, 0.322);
    padding: 1px;
    width: 170px;
    height: auto;
    margin: 5rem;
    text-align: center;
    align-content: center;
    align-self: flex-end;
    transition: transform 0.5s ease-in-out;
}

.special-card:hover {
    transform: scale(1.05) translate(-5px);
    box-shadow: 10px 7px 15px rgba(152, 16, 194, 0.349);
}

.side-card {
    font-size: 80%;
    border: teal inset;
    border-radius: 0.5rem;
    background-color: rgba(140, 210, 195, 0.521);
    padding: 2px;
    margin: 1rem;
    text-align: center;
    height: 80px;
    width: auto;
    flex: 1 1 300px
}







